<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'icon.ico' %}" type="img/png" >
        <title>{{event_title}}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css'%}">
        <!-- main css -->
          <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
            <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
            <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
        <link rel="stylesheet" href="{% static 'css/_style.css'%}">
        <link rel="stylesheet" href="{% static 'css/_responsive.css'%}">
		<link rel="stylesheet" href="{% static 'css/_testimonials.css'%}">
		<link rel="stylesheet" href="{% static 'css/_testimonials.css.map'%}">
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
       
    <style>
        .iframe-youtube{
        width:50%;
        height:400px;
        margin:auto;

        }
        iframe{
        margin-top:60px;
        text-align:center;
        }


        .blocks {display: inline-block; border: solid 1px red; width: 100px;}

    .wrap{
            width:320px;
        }
        .modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}
p{
font-family: 'Arimo', sans-serif;

}
ul{
font-family: 'Oxygen', sans-serif;
color: black;
}
h2{
font-family: 'Oxygen', sans-serif;
color: black;
}
body{
font-size:17px;
}

a{
color:#1fb615;

}
@media (max-width:575px){
	.top_menu {
		display: flex;
	}
	.list , .header_social{
	width:120px;
	}

	}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.nav-link{
font-family: 'Raleway', sans-serif;
}


</style>



    </head>
    <body>

        <!--================Header Menu Area =================-->
        <header class="header_area">
           	<div class="top_menu row m0" id="language_area">
           		<div class="container">
					<div class="float-left">
						<ul class="list header_social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
					<div class="float-right">

                              <a class="ac_btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{language.language_short_name|upper}}
                              </a>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{%url 'animalcare:event_detail_eng' slug%}">EN</a>
                                        <a class="dropdown-item" href="{%url 'animalcare:event_detail_az' slug%}">AZ</a>

                                      </div>

                        <a class="ac_btn" href="#">Donate Now</a>
					</div>
           		</div>
           	</div>
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="index.html"><img src="{{home.logo.url}}" style="height:70px;" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								{%if language.language_name == "English"%}
								<li class="nav-item active"><a class="nav-link" style="color: #1a7f17;font-family: 'Raleway', sans-serif;font-weight:bold;" href="{%url 'animalcare:homeeng'%}">{{menu.home}}</a></li>
								<li class="nav-item"><a class="nav-link" style="color: #1a7f17;font-family: 'Raleway', sans-serif;font-weight:bold;" href="{%url 'animalcare:about_us_eng'%}">{{menu.about}}</a></li>
								<li class="nav-item"><a class="nav-link" style="color: #1a7f17;font-family: 'Raleway', sans-serif;font-weight:bold;" href="{%url 'animalcare:events_eng'%}">{{menu.events}}</a></li>
								<li class="nav-item"><a class="nav-link" href="{%url 'animalcare:rescued_eng'%}"  style="font-weight:bold;font-family: 'Raleway', sans-serif;color: #1a7f17;">{{menu.rescued}}</a></li>
								<li class="nav-item"><a class="nav-link" href="{%url 'animalcare:contact_us_eng'%}"  style="font-weight:bold;font-family: 'Raleway', sans-serif;color: #1a7f17;">{{menu.contact}}</a></li>

								{%else%}
								<li class="nav-item active"><a class="nav-link" style="font-weight:bold;font-family: 'Raleway', sans-serif;color: #1a7f17;" href="{%url 'animalcare:homeaz'%}">{{menu.home}}</a></li>
								<li class="nav-item"><a class="nav-link" style="font-weight:bold;font-family: 'Raleway', sans-serif;color: #1a7f17;" href="{%url 'animalcare:about_us_az'%}">{{menu.about}}</a></li>
								<li class="nav-item"><a class="nav-link" style="font-weight:bold;font-family: 'Raleway', sans-serif;color: #1a7f17;" href="{%url 'animalcare:events_az'%}">{{menu.events}}</a></li>
								<li class="nav-item"><a class="nav-link" href="{%url 'animalcare:rescued_az'%}"  style="font-weight:bold;font-family: 'Raleway', sans-serif;color: #1a7f17;">{{menu.rescued}}</a></li>
								<li class="nav-item"><a class="nav-link" href="{%url 'animalcare:contact_us_az'%}"  style="font-weight:bold;font-family: 'Raleway', sans-serif;color: #1a7f17;">{{menu.contact}}</a></li>
								{%endif%}
							</ul>

						</div>
					</div>
            	</nav>
            </div>

        </header>
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2 style="font-family: 'Oxygen', sans-serif;">Event Details</h2>
						<div class="page_link">
							<a href="#">Home</a>
							<a href="event.html">Events</a>
							<a href="event-details.html">Events Details</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Event Details Area =================-->

<section>
<p></p>
<p></p>
    <p></p>
    <p></p>
    <p></p>
<p></p>
    <p></p>
    <p></p>
    <p></p>
<p></p>
    <p></p>
    <p></p>
<p></p>
    <p></p>
    <p></p>

    <div style="width:100%;margin:auto;margin-top:50px;">
            <h2 style="text-align:center;">{{event_title}}</h2>
        <p></p>
                {%if event_main_image %}


                  <img src="{{event_main_image}}" alt="Los Angeles" style="width:auto;max-height:500px;" class="center">

                {%endif%}



            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview" style="width: 100%;" >
                  </div>
                </div>
              </div>
            </div>
    </div>
    <div style=" width:100%;margin:auto;">

                        <div class="row event_text_inner" style=" width:75%;margin:auto;">
                            <div class="col-lg-12" style="margin-top:10px;">
                                <div class="left_text" >
                                    <ul class="list" style="width:100%;text-align:center;">
                                        <li><a href="#" ><i class="lnr lnr-calendar-full"></i>{{event_date}} </a></li>
                                        <li><a href="#"><i class="lnr lnr-apartment"></i>{{address}}</a></li>
                                        <li><a href="#"><i class="lnr lnr-location"></i>{{city}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div >
                                <div >

                                    <p >{{event_details}}</p>
                                </div>
                            </div>
                        </div>
    </div>
    {%if report%}
    <div class="container">
              <table class="table" style="width:50%; margin:auto;">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Ad (Name)</th>
                  <th scope="col">Məbləğ (Amount)</th>

                </tr>
              </thead>
              <tbody>
                {%for report in report%}
                            <tr>
                              <th scope="row">{{ forloop.counter }} </th>
                              <td>{{report.donor_name}}</td>
                              <td>{{report.amount}}</td>
                            </tr>
                {%endfor%}
              </tbody>
              </table>
    </div>
    {%endif%}

<!-- <div class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
     <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
     <li data-target="#carousel-example-1z" data-slide-to="1"></li>
     <li data-target="#carousel-example-1z" data-slide-to="2"></li>
     <li data-target="#carousel-example-1z" data-slide-to="3"></li>
     <li data-target="#carousel-example-1z" data-slide-to="4"></li>
     <li data-target="#carousel-example-1z" data-slide-to="5"></li>
     <li data-target="#carousel-example-1z" data-slide-to="6" ></li>
     <li data-target="#carousel-example-1z" data-slide-to="7"></li>
     <li data-target="#carousel-example-1z" data-slide-to="8"></li>
     <li data-target="#carousel-example-1z" data-slide-to="9"></li>
     <li data-target="#carousel-example-1z" data-slide-to="10"></li>
     <li data-target="#carousel-example-1z" data-slide-to="11"></li>
     <li data-target="#carousel-example-1z" data-slide-to="12"></li>
     <li data-target="#carousel-example-1z" data-slide-to="13"></li>
     <li data-target="#carousel-example-1z" data-slide-to="14"></li>
     <li data-target="#carousel-example-1z" data-slide-to="15"></li>
     <li data-target="#carousel-example-1z" data-slide-to="16" ></li>
     <li data-target="#carousel-example-1z" data-slide-to="17"></li>
     <li data-target="#carousel-example-1z" data-slide-to="18"></li>
     <li data-target="#carousel-example-1z" data-slide-to="19"></li>
     <li data-target="#carousel-example-1z" data-slide-to="20"></li>
     <li data-target="#carousel-example-1z" data-slide-to="21"></li>
     <li data-target="#carousel-example-1z" data-slide-to="22"></li>
     <li data-target="#carousel-example-1z" data-slide-to="23"></li>
     <li data-target="#carousel-example-1z" data-slide-to="24"></li>
     <li data-target="#carousel-example-1z" data-slide-to="25"></li>
     <li data-target="#carousel-example-1z" data-slide-to="26" ></li>
     <li data-target="#carousel-example-1z" data-slide-to="27"></li>
     <li data-target="#carousel-example-1z" data-slide-to="28"></li>
     <li data-target="#carousel-example-1z" data-slide-to="29"></li>
     <li data-target="#carousel-example-1z" data-slide-to="30"></li>
     <li data-target="#carousel-example-1z" data-slide-to="31"></li>
     <li data-target="#carousel-example-1z" data-slide-to="32"></li>
     <li data-target="#carousel-example-1z" data-slide-to="33"></li>
     <li data-target="#carousel-example-1z" data-slide-to="34"></li>
     <li data-target="#carousel-example-1z" data-slide-to="35"></li>
     <li data-target="#carousel-example-1z" data-slide-to="36" ></li>
     <li data-target="#carousel-example-1z" data-slide-to="37"></li>
     <li data-target="#carousel-example-1z" data-slide-to="38"></li>
     <li data-target="#carousel-example-1z" data-slide-to="39"></li>
     <li data-target="#carousel-example-1z" data-slide-to="40"></li>



    </ol>
    <div class="carousel-inner" role="listbox">

            {%if event_img_1 %}
             <div class="carousel-item active">
              <img class="d-block w-100" src="{{event_img_1}}" alt="First slide">
             </div>
            {%endif%}
            {%if event_img_2 %}
             <div class="carousel-item">
                 <img class="d-block w-100" src="{{event_img_2}}" alt="Second slide">
             </div>
            {%endif%}
            {%if event_img_3 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_3}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_4 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_4}}" alt="Third slide">
             </div>
            {%endif%}

            {%if event_img_5 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_5}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_6 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_6}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_7 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_7}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_8 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_8}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_9 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_9}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_10 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_10}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_11 %}
             <div class="carousel-item ">
              <img class="d-block w-100" src="{{event_img_11}}" alt="First slide">
             </div>
            {%endif%}
            {%if event_img_12 %}
             <div class="carousel-item">
                 <img class="d-block w-100" src="{{event_img_12}}" alt="Second slide">
             </div>
            {%endif%}
            {%if event_img_13 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_13}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_14 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_14}}" alt="Third slide">
             </div>
            {%endif%}

            {%if event_img_15 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_15}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_16 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_16}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_17 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_17}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_18 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_18}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_19 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_19}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_20 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_20}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_21 %}
             <div class="carousel-item ">
              <img class="d-block w-100" src="{{event_img_21}}" alt="First slide">
             </div>
            {%endif%}
            {%if event_img_22 %}
             <div class="carousel-item">
                 <img class="d-block w-100" src="{{event_img_22}}" alt="Second slide">
             </div>
            {%endif%}
            {%if event_img_23 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_23}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_24 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_24}}" alt="Third slide">
             </div>
            {%endif%}

            {%if event_img_25 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_25}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_26 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_26}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_27 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_27}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_28 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_28}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_29 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_29}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_30 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_30}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_31 %}
             <div class="carousel-item">
              <img class="d-block w-100" src="{{event_img_31}}" alt="First slide">
             </div>
            {%endif%}
            {%if event_img_32 %}
             <div class="carousel-item">
                 <img class="d-block w-100" src="{{event_img_32}}" alt="Second slide">
             </div>
            {%endif%}
            {%if event_img_33 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_33}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_34 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_34}}" alt="Third slide">
             </div>
            {%endif%}

            {%if event_img_35 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_35}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_36 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_36}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_37 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_37}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_38 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_38}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_39 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_39}}" alt="Third slide">
             </div>
            {%endif%}
            {%if event_img_40 %}
             <div class="carousel-item">
                <img class="d-block w-100" src="{{event_img_40}}" alt="Third slide">
             </div>
            {%endif%}
    </div>

    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
    </a>
   </div>
  </div>
 </div>
</div>

<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="1">-->
 <!--Launch demo modal-->
<!--</button>-->


<!--     <div class='wrap' style="width:50%; margin:auto;margin-top">

        {%if event_img_1 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="1" >
                              <img src="{{event_img_1}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_2 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="2" >
                              <img src="{{event_img_2}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_3 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="3" >
                              <img src="{{event_img_3}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_4 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="4" >
                              <img src="{{event_img_4}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_5 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="5" >
                              <img src="{{event_img_5}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_6 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="6" >
                              <img src="{{event_img_6}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_7 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="7" >
                              <img src="{{event_img_7}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_8%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_8}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_9%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_9}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_10%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_10}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_11 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="1" >
                              <img src="{{event_img_11}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_12 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="2" >
                              <img src="{{event_img_12}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_13 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="3" >
                              <img src="{{event_img_13}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_14 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="4" >
                              <img src="{{event_img_14}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_15 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="5" >
                              <img src="{{event_img_15}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_16 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="6" >
                              <img src="{{event_img_16}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_17 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="7" >
                              <img src="{{event_img_17}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_18%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_18}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_19%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_19}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_20%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_20}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_21 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="1" >
                              <img src="{{event_img_21}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_22 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="2" >
                              <img src="{{event_img_22}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_23 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="3" >
                              <img src="{{event_img_23}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_24 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="4" >
                              <img src="{{event_img_24}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_25 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="5" >
                              <img src="{{event_img_25}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_26 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="6" >
                              <img src="{{event_img_26}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_27 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="7" >
                              <img src="{{event_img_27}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_28%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_28}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_29%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_29}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_30%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_30}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_31 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="1" >
                              <img src="{{event_img_31}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_32 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="2" >
                              <img src="{{event_img_32}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_33 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="3" >
                              <img src="{{event_img_33}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_34 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="4" >
                              <img src="{{event_img_34}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_35 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="5" >
                              <img src="{{event_img_35}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_36 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="6" >
                              <img src="{{event_img_36}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_37 %}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="7" >
                              <img src="{{event_img_37}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}

        {%if event_img_38%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_38}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_39%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_39}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
        {%if event_img_40%}
        <div class = "blocks">
                      <a href="#basicExample"  data-toggle="modal" data-slide-to="8" >
                              <img src="{{event_img_40}}" alt="Chicago" style="width:100%;max-height:500px;">
                      </a>

        </div>
        {%endif%}
	</div> --> -->

<div class="container">
	<div class="row">
		<div class="row">
		{%if event_img_1%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_1}}"
                   data-target="#image-gallery">
                    <img 
                         src="{{event_img_1}}"
                         alt="Another alt text">
                </a>
            </div>
		{%endif%}
			{%if event_img_2%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_2}}"
                   data-target="#image-gallery">
                    <img
                         src="{{event_img_2}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}
            {%if event_img_3%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_3}}"
                   data-target="#image-gallery">
                    <img 
                         src="{{event_img_3}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}
            {%if event_img_4%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_4}}"
                   data-target="#image-gallery">
                    <img
                         src="{{event_img_4}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}
            {%if event_img_4%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_4}}"
                   data-target="#image-gallery">
                    <img 
                         src="{{event_img_4}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}



            {%if event_img_5%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_5}}"
                   data-target="#image-gallery">
                    <img 
                         src="{{event_img_5}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}
            {%if event_img_6%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_6}}"
                   data-target="#image-gallery">
                    <img 
                         src="{{event_img_6}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}
            {%if event_img_7%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_7}}"
                   data-target="#image-gallery">
                    <img
                         src="{{event_img_7}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}



            {%if event_img_8%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_8}}"
                   data-target="#image-gallery">
                    <img 
                         src="{{event_img_8}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}
            {%if event_img_9%}
            <div class="blocks">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_9}}"
                   data-target="#image-gallery">
                    <img 
                         src="{{event_img_9}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}
            {%if event_img_10%}
            <div >
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="{{event_img_10}}"
                   data-target="#image-gallery">
                    <img 
                         src="{{event_img_10}}"
                         alt="Another alt text">
                </a>
            </div>
			{%endif%}
        </div>


        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="width:auto;">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body" style="width:auto;">
                        <img id="image-gallery-image" class="img-responsive col-md-6" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
	
	






    <script>
                let modalId = $('#image-gallery');

$(document)
  .ready(function () {

    loadGallery(true, 'a.thumbnail');

    //This function disables buttons when needed
    function disableButtons(counter_max, counter_current) {
      $('#show-previous-image, #show-next-image')
        .show();
      if (counter_max === counter_current) {
        $('#show-next-image')
          .hide();
      } else if (counter_current === 1) {
        $('#show-previous-image')
          .hide();
      }
    }

    /**
     *
     * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
     * @param setClickAttr  Sets the attribute for the click handler.
     */

    function loadGallery(setIDs, setClickAttr) {
      let current_image,
        selector,
        counter = 0;

      $('#show-next-image, #show-previous-image')
        .click(function () {
          if ($(this)
            .attr('id') === 'show-previous-image') {
            current_image--;
          } else {
            current_image++;
          }

          selector = $('[data-image-id="' + current_image + '"]');
          updateGallery(selector);
        });

      function updateGallery(selector) {
        let $sel = selector;
        current_image = $sel.data('image-id');
        $('#image-gallery-title')
          .text($sel.data('title'));
        $('#image-gallery-image')
          .attr('src', $sel.data('image'));
        disableButtons(counter, $sel.data('image-id'));
      }

      if (setIDs == true) {
        $('[data-image-id]')
          .each(function () {
            counter++;
            $(this)
              .attr('data-image-id', counter);
          });
      }
      $(setClickAttr)
        .on('click', function () {
          updateGallery($(this));
        });
    }
  });

// build key actions
$(document)
  .keydown(function (e) {
    switch (e.which) {
      case 37: // left
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
          $('#show-previous-image')
            .click();
        }
        break;

      case 39: // right
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
          $('#show-next-image')
            .click();
        }
        break;

      default:
        return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
  });

    </script>
    {%if event_iframe%}
            <div class="iframe-youtube">
                            {{event_iframe}}
            </div>
    {%endif%}
</section>



        <!--================End Event Details Area =================-->
        
        <!--================ start footer Area  =================-->
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About Agency</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Feature</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list">
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">InstaFeed</h6>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="img/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-08.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-sm-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %} "></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
    </body>
</html>
