<!doctype html>
{% load static %}

<html lang="en">
    <head>
        <!-- Required meta tags -->
               <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>Kindity Charity Multi</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css'%}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		<link rel="stylesheet" href="{% static 'css/_testimonials.css' %}">
		<link rel="stylesheet" href="{% static 'css/testimonials.css.map'%}">
		<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
		<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
	<style>
		@media (max-width:575px){
	.top_menu {
		display: flex;
	}
	.list , .header_social{
	width:120px;
	}

	}

	</style>
	</head>


	<body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
           	<div class="top_menu row m0" id="language_area">
           		<div class="container">
					<div class="float-left">
						<ul class="list header_social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
					<div class="float-right">

                              <a class="ac_btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{language.language_short_name|upper}}
                              </a>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{%url 'animalcare:about_us_eng'%}">EN</a>
                                        <a class="dropdown-item" href="{%url 'animalcare:about_us_az'%}">AZ</a>

                                      </div>

                        <a class="ac_btn" href="#">Donate Now</a>
					</div>
           		</div>
           	</div>
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="index.html"><img src="{{home.logo.url}}" style="height:70px;" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								{%if language.language_name == "English"%}
								<li class="nav-item active"><a class="nav-link" style="font-family: 'Raleway', sans-serif;font-weight:bold;color: #1a7f17;" href="{%url 'animalcare:homeeng'%}">{{menu.home}}</a></li>
								<li class="nav-item"><a class="nav-link" style="font-family: 'Raleway', sans-serif;font-weight:bold;color: #1a7f17;" href="{%url 'animalcare:about_us_eng'%}">{{menu.about}}</a></li>
								<li class="nav-item"><a class="nav-link" style="font-family: 'Raleway', sans-serif;font-weight:bold;color: #1a7f17;" href="{%url 'animalcare:events_eng'%}">{{menu.events}}</a></li>
								<li class="nav-item"><a class="nav-link" href="{%url 'animalcare:contact_us_eng'%}"  style="font-family: 'Raleway', sans-serif;font-weight:bold;color: #1a7f17;">{{menu.contact}}</a></li>

                                {%else%}
								<li class="nav-item active"><a class="nav-link" style="font-family: 'Raleway', sans-serif;font-weight:bold;color: #1a7f17;" href="{%url 'animalcare:homeaz'%}">{{menu.home}}</a></li>
								<li class="nav-item"><a class="nav-link" style="font-family: 'Raleway', sans-serif;font-weight:bold;color: #1a7f17;" href="{%url 'animalcare:about_us_az'%}">{{menu.about}}</a></li>
								<li class="nav-item"><a class="nav-link" style="font-family: 'Raleway', sans-serif;font-weight:bold;color: #1a7f17;" href="{%url 'animalcare:events_az'%}">{{menu.events}}</a></li>
								<li class="nav-item"><a class="nav-link" href="{%url 'animalcare:contact_us_az'%}"  style="font-family: 'Raleway', sans-serif;font-weight:bold;color: #1a7f17;">{{menu.contact}}</a></li>
								{%endif%}
							</ul>

						</div>
					</div>
            	</nav>
            </div>

        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>About Us</h2>
						<div class="page_link">
							<a href="#">Home</a>
							<a href="about-us.html">About Us</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>{{home.about_us_title}}</h4>
        					<p style="font-family: 'Arimo', sans-serif;color: black;">{{home.about_us_text}}</p>
        					<div class="row">
        						<div class="col-sm-4">
        							<div class="wel_item">
        								<i class="lnr lnr-database" style="color:#41ea2c;"></i>
        								<h4 style="font-family: 'Raleway'">{{home.total_donation_amount}}</h4>
        								<p style="font-family: 'Raleway'">{{home.total_donation_title}}</p>
        							</div>
        						</div>
        						<div class="col-sm-4">
        							<div class="wel_item">
        								<i class="lnr lnr-book" style="color:#41ea2c;"></i>
        								<h4 style="font-family: 'Raleway'">{{home.total_projects_amount}}</h4>
        								<p style="font-family: 'Raleway'">{{home.total_projects_title}}</p>
        							</div>
        						</div>
        						<div class="col-sm-4">
        							<div class="wel_item">
        								<i class="lnr lnr-users" style="color:#41ea2c;"></i>
        								<h4 style="font-family: 'Raleway'">{{home.total_volunteers_amount}}</h4>
        								<p style="font-family: 'Raleway'">{{home.total_volunteers_title}}</p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6" style="margin-top:100px;">
        				<div class="welcome_img" style="background:#1aad1a;">
        					<img class="img-fluid" style="width:500px;" src="{{home.image_welcome_acc.url}}" alt="">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        	<div class="container">
        		<div class="white_title">
        			<h2>{{home.our_key_features_title}}</h2>
        			<p>{{home.our_key_features_text}}</p>
        		</div>
        		<div class="row feature_inner">
        			<div class="col-lg-4">
        				<div class="feature_item">
        					<i class="lnr lnr-diamond"></i>
        					<h4 style="font-family: 'Raleway', sans-serif;">{{home.sponsorship_title}}</h4>
        					<p style="font-family: 'Raleway', sans-serif;">{{home.sponsorship_text}}</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="feature_item">
        					<i class="lnr lnr-coffee-cup"></i>
        					<h4 style="font-family: 'Raleway', sans-serif;">{{home.donate_amount_title}}</h4>
        					<p style="font-family: 'Raleway', sans-serif;">{{home.donate_amount_text}}</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="feature_item">
        					<i class="lnr lnr-wheelchair"></i>
        					<h4 style="font-family: 'Raleway', sans-serif;"> {{home.become_volunteer_title}}</h4>
        					<p style="font-family: 'Raleway', sans-serif;">{{home.become_volunteer_text}}</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->
        
        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="row testimonials_inner">
        			<div class="col-lg-4">
        				<div class="testi_left_text">
        					<h4>{{home.testimonial_title}}</h4>
        					<p>{{home.testimonial_text}}</p>
        				</div>
        			</div>
        			<div class="col-lg-8">
        				<div class="testi_slider owl-carousel">
							{%for donor_review in testimonial%}
							<div class="item">
								<div class="testi_item">
									<img src="{{donor_review.donor_image.url}}" style="width:180px; height:180px;" alt="">
									<p>{{donor_review.donor_description}}</p>
									<h4>{{donor_review.donor_name}}</h4>
									<h6>{{donor_review.donor_is_who}}</h6>
								</div>
							</div>
							{%endfor%}
						</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->
        
        <!--================Clients Logo Area =================-->

        <!--================End Clients Logo Area =================-->
        
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About Agency</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Feature</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list">
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">InstaFeed</h6>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="img/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="img/instagram/Image-08.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-sm-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %} "></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
    </body>
</html>